body {
    background-color: #eeefef;
    margin: 0;
    font-family: sans-serif;
}

body::before {
    content: "";
    background-image: url("../Header/14731376_rm222batch5-mind-033.png");
    background-size: 110%;
    background-attachment: fixed;
    filter: blur(1px);
    transform: rotate(180deg);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

.register-description {
    font-size: 1.5rem;
    margin: 0;
}

.register-container {
    min-width: 50%;
    max-width: 60%;
    padding: 10vh;
    background-color: #f4f6fc;
    text-align: center;
    margin: 0 auto;
}

.account-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.radio-input {
    margin-left: 15px;
}

select {
    min-width: 20%;
    border: none;
    background-color:#b3b9c5;
    outline: none;
    padding: 5px 10px;
}

.input, #department {
    width: 90%;
    padding: 12px;
    margin: 3px auto;
    display: inline-block;
    background: #C7CEDB;
    border: none;
}

.button {
    position: relative;
    background-color: #011638;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 70%;
    font-weight: bold;
    transition: background-color 0.2s ease;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #C7CEDB;
    color: #011638;
  }
  