/* General Styles */
body::before {
  content: "";
  background-image: url("../images/backgrounds/14731376_rm222batch5-mind-03.jpg");
  background-size: cover;
  background-attachment: fixed;
  filter: blur(1px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.main-content {
  background-color: white;
  max-width: 800px;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message {
  text-align: center;
  margin: 0 0 10px;
}

.success-message {
  color: #13489d;
}

.error-message {
  color: rgb(213, 0, 0);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #011638;
  color: #fff;
}

tr:hover {
  background-color: #bfbfbf;
}

button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

button.Approve-button {
  background-color: #011638;
  color: #fff;
}

button.Approve-button:hover {
  background-color: #13489d;
}

button.cancel-button {
  background-color: rgb(204, 3, 3);
  color: white;
  padding: 5px 14px;
}

button.cancel-button:hover {
  background-color: rgb(217, 41, 41);
}

.hidden-form {
  display: none;
}

.hidden-form.show {
  display: block;
}

label {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: left;
}

label input[type="radio"] {
  vertical-align: middle;
  margin-right: 5px;
}

.description {
  margin-top: -10px;
}

