body {
  background-color: #eeefef;
  margin: 0;
  font-family: sans-serif;
}

body::before {
  content: "";
  background-image: url("../images/backgrounds/14731376_rm222batch5-mind-033.png");
  background-size: 110%;
  background-attachment: fixed;
  filter: blur(1px);
  transform: rotate(180deg);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.register-description {
  font-size: 1.2rem;
  margin: 0;
}

.register-container {
  width: 80%;
  max-width: 500px;
  padding: 2%;
  background-color: #f4f6fc;
  text-align: center;
  margin: -2% auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.radio-input {
  margin-left: 10px;
}

select {
  width: 100%;
  max-width: 250px;
  border: none;
  background-color: #b3b9c5;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input, #department {
  width: 90%;
  max-width: 350px;
  padding: 10px;
  margin: 3px auto 10px auto;
  display: block;
  background: #C7CEDB;
  border: none;
  border-radius: 5px;
}

.button {
  position: relative;
  background-color: #011638;
  color: white;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 250px;
  font-weight: bold;
  transition: background-color 0.2s ease;
  border-radius: 5px;
  margin-top: -5px;
}

.button:hover {
  background-color: #C7CEDB;
  color: #011638;
}

.message {
  text-align: center;
  margin: 20px;
  margin-top: -20px;
}

.error-message {
  color: rgb(213, 0, 0);
}
