.similar-faculty-question {
    margin-top: 5px;
    margin-left: 2px;
}

.similar-faculty-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}

.similar-faculty-list-item {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
}

.similar-faculty-list-item:hover {
    background-color: #cbdedf;
    border-color: #a3c6c7;
}

.similar-faculty-list-item:active {
    background-color: #a3c6c7;
}