/* General Styles */
body::before {
  content: "";
  background-image: url("../images/backgrounds/14731376_rm222batch5-mind-03.png");
  background-size: cover;
  background-attachment: fixed;
  filter: blur(1px);
  transform: scaleY(-1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77vh;
}

.form {
  background-color: white;
  min-width: 45%;
  padding: 3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  display: block;
  font-size: 20px;
  color: #011638;
  margin-bottom: 8px;
  text-align: center;
}

.field {
  text-align: center;
  margin-top: 2%;
}

.field2 {
  margin-top: 5%;
}

.input-field {
  width: 80%;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  background-color: white;
  color: #333;
  margin-top: 3px;
  border: 1px solid #ccc;
  max-width: 100%;
}

.select-slot {
  font-size: 18px;
  height: 40px;
  width: 82%;
}

.faculty-list {
  width: 83%;
  border: 1px solid #ccc;
  border-top: none;
}

select option:hover {
  background-color: #ddd;
}

.appointment-header,
.appointment-description {
  text-align: center;
  margin: 15px 0 5px;
}

#book-appointment-button {
  display: block;
  font-weight: bold;
  background-color: #011638;
  color: white;
  width: 30%;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  margin: 20px auto;
  margin-top: 5%;
}

#book-appointment-button:hover {
  background-color: #c7cedb;
  color: #011638;
}

#select-slot-container {
  display: none;
}

.message {
  text-align: center;
  margin: 0 0 10px;
}

.success-message {
  color: #13489d;
}

.error-message {
  color: rgb(213, 0, 0);
}
