body::before {
  content: "";
  background-image: url("../images/backgrounds/14731376_rm222batch5-mind-033.png");
  background-size: 120%;
  background-attachment: fixed;
  filter: blur(1px);
  transform: rotate(180deg);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

body {
  overflow-x: hidden;
  margin-top: 0;
}

.header {
  position: fixed;
  width: 100%; /* Added for consistency */
  top: 0;
  z-index: 10; /* Added to ensure the header is on top */
}

.logo {
  position: fixed;
  top: 0;
  right: 2%;
  height: 90px;
  width: 120px;
  margin-top: 6%;
}

.profile-content {
  display: flex;
  margin-left: 7%;
  margin-top: 1%;
  position: relative;
  width: 60%; /* Consolidated width declaration */
  height: 40%;
  border-radius: 10px;
}

.user-photo, .user-photo-student, .user-photo-view {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 10%; /* Consolidated margin-bottom for consistency */
}

.profile-type, .profile-type-faculty {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

h2.profile-type {
  margin-top: 0;
  margin-bottom: -3%;
}

.user-photo {
  margin-top: -114%;
}

.user-photo-student {
  margin-top: -15%;
}

.user-photo-view {
  margin-top: 15%;
}

.personal-details-faculty, .personal-details-student, .personal-details-view-student, .personal-details-view-faculty {
  display: inline-block;
  margin-left: 20%;
  font-size: 1.2rem;
  width: 100%;
  margin-top: 5%;
  line-height: 1.2;
}

.personal-details-student {
  margin-top: 3%;
  margin-left: 5%;
  line-height: 1.5;
}

.personal-details-faculty {
  margin-left: 10%;
  margin-top: 3%;
  font-size: 1.2rem;
}

.personal-details-view-faculty {
  margin-left: 15%;
}

.personal-details-content-faculty, .personal-details-content-student {
  text-align: left; 
  width: 100%; 
  font-size: 1.2rem;
  margin-top: 3.5%;
}

.user-details {
  display: grid;
  grid-auto-flow: row;
  font-family: sans-serif;
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-top: 1%;
  padding: 0;
  margin-bottom: 5%;
}

.comment-section-faculty, .comment-section-student, .comment-section-view {
  display: block;
  margin: auto;
  width: 95%;
  max-height: 50vh;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0;
}

.faculty-user-name {
  margin-top: -3%;
}

.comment-section-view {
  min-height: 15vh;
  max-height: 65vh;
  margin: 7% 18px 0 9px;
  padding: 20px;
}

.comment-input-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 70vw;
  border: 1px solid #cdcdcd;
  margin: 4% 0 1.6% -0.35%;
  background-color: white;
  padding: 5px;
}

.comment-button {
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #001454;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.15385;
  outline: none;
  padding: 8px 0.8em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  transition: background-color 0.2s ease;
  border: none;
  width: 10%;
}

.comment-button:hover, .comment-button:focus {
  background-color: #001454;
  color: white;
}

.comment-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.comment-button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.no-comments-message {
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.circular-container {
  display: flex;
  padding: 5%;
}

.circular {
  width: 9vw;
  height: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  font-weight: bold;
  line-height: 25px;
}

.number {
  font-size: 1.4vw;
  font-weight: bold;
}

.word {
  font-size: 1.3vw;
  color: #898989;
}

.comment-list, .comment-list-student, .comment-list-faculty {
  left: 5px;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 70vw;
  max-height: 50vh;
  margin-top: -2%;
  background-color: #00145410;
}

.comment-list-student, .comment-list-faculty {
  margin-top: 8%;
}

.comment-form-student, .comment-form {
  text-align: center;
  position: sticky;
  background-color: transparent;
  z-index: 1;
  padding: 5px 5px 5px 5px; /* Consolidated padding for consistency */
  border-radius: 7px;
  margin: 0;
}

.comment-text {
  width: 100%;
  resize: none;
  padding: 15px 5px 5px 5px;
  text-align: left;
  border: none;
  outline: none;
}

ul.content-comment-list {
  margin-bottom: auto;
  padding: 2px 1px 2px 1px;
  width: 100%;
}

.content-comment-list > div {
  border-radius: 7px;
  margin: 10px;
}

.delete-button {
  color: white;
  padding: 3px 12px;
  cursor: pointer;
  border: 2px solid rgb(234, 18, 18);
  background-color: rgb(234, 18, 18);
  border-radius: 20px;
}

.delete-button:hover {
  background-color: rgb(246, 74, 74);
  border-color: rgb(246, 74, 74);
}

#editProfileFormContainer {
  z-index: 9;
  position: absolute;
  margin-top: 33%;
  background-color: white;
  width: 250px;
  height: 100px;
  padding: 20px;
  margin-left: -5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editProfileBtn {
  border: none;
  background: transparent;
  padding: 0;
  z-index: 9;
  margin-top: 15%;
}

.edit_icon, .edit_icon-faculty {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cbcbcb;
  margin-left: 60%;
}

.edit_icon-faculty {
  margin-bottom: 99%;
}

.edit-profile-form {
  margin-top: 20px;
}

.edit-profile-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: -5%;
}

.edit-profile-input {
  margin-bottom: 10px;
  text-align: center;
  margin-left: 15%;
}

.edit-profile-submit-btn {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  height: 37px;
}

.edit-profile-submit-btn:hover {
  background-color: #0056b3;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  height: 38px;
}

.remove-button:hover {
  background-color: #bd2130;
}

.edit-button, .save-button, .cancel-button {
  color: white;
  padding: 3px 12px;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 2px;
}

.edit-button {
  border: 2px solid rgb(7, 50, 191);
  background-color: rgb(7, 50, 191);
}

.edit-button:hover {
  border-color: rgb(70, 108, 234);
  background-color: rgb(70, 108, 234);
}

.save-button {
  border: 2px solid rgb(0, 115, 52);
  background-color: rgb(0, 115, 52);
  margin-top: 2px; /* Consolidated margin-top for consistency */
}

.save-button:hover {
  border-color: rgb(50, 150, 95);
  background-color: rgb(50, 150, 95);
}

.cancel-button {
  border: 2px solid rgb(234, 18, 18);
  background-color: rgb(234, 18, 18);
  margin-top: 2px; /* Consolidated margin-top for consistency */
}

.cancel-button:hover {
  background-color: rgb(246, 74, 74);
  border-color: rgb(246, 74, 74);
}


@media (max-width: 700px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }

  .web-container {
    height: auto;
  }

  .profile-content {
    margin-top: 0; 
    width: 90%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0; 
    padding-right: 0; 
  }

  .user-photo, .user-photo-student, .user-photo-view {
    width: 150px; 
    height: 150px;
    margin-top: 20px; 
    margin-bottom: 20px; 
  }

  .user-details {
    width: 90%; 
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }


  .editProfileBtn, .edit_icon-faculty {
    position: absolute;
    top: 0;
    right: 60;
    margin: 0;
  }

  .personal-details-faculty, .personal-details-student, .personal-details-content-faculty, .personal-details-content-student {
    width: 90%; 
    margin-left: 0; 
    text-align: center; 
    font-size: 1.2rem;
  }


  .circular-container {
    justify-content: center; 
    flex-wrap: nowrap; 
    padding: 0;
  }

  .circular {
    margin: 10px; 
    width: 12.8vw; 
    height: 10vh; 
  }

  .word, .number {
    font-size: 2vw;
  }

  .comment-section-faculty, .comment-section-student, .comment-section-view {
    width: 100%; 
    margin-top: 20px; 
  }

  .comment-list, .comment-list-student, .comment-list-faculty {
    width: 94vw; 
    padding: 5px;
    margin: 0;
    margin-left: -10px;
  }

  .comment-input-container {
    width: 90%;
    margin: 0;
  }

  .comment-section-view {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 60%;
  }

  #commentForm {
    width: 100%;
    margin: 0;
  }

  .personal-details-view-student,
.personal-details-view-faculty {
  margin: 0;
}

}